<ion-header class="inicial-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Samsung
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="inicial-content">
  
  <background-image class="image-heading" src="./assets/images/banner_200.png">
    <div class="dados">
      <div class="dado-container">
        <div class="icone-wrapper">
          <ion-icon name="logo-usd"></ion-icon>
        </div>
        <div class="texto">
          {{ pontos ? pontos : '---' }} pts
        </div>
      </div>
      <div class="dado-container" style="float: right">
        <div class="icone-wrapper">
          <ion-icon name="flag"></ion-icon>
        </div>
        <div class="texto">
          {{ pos ? pos+'º' : '--º' }} pos
        </div>
      </div>
    </div>
  </background-image>

  <h4 class="categories-title">Portifólio de produtos</h4>

  <ion-scroll scrollX="true" class="horizontal-categories">
    <div class="scroll-wrapper" *ngIf="loadingCatergorias">
      <ion-spinner></ion-spinner>
    </div>
    <ion-row class="categories-row" *ngIf="!loadingCatergorias">
      <ion-col width-30 class="horizontal-item" *ngFor="let categoria of categorias" (click)="openProdutosList(categoria.CodCategoria)">
        <preload-image [ratio]="{w:1, h:1}" [src]="categoria.Foto" title="categoria.Nome"></preload-image>
      </ion-col>
    </ion-row>
  </ion-scroll>

  <h4 class="categories-title">Módulos</h4>
  
  <div class="scroll-wrapper" *ngIf="loadingSquares">
    <ion-spinner></ion-spinner>
  </div>

  <ion-row class="grid-categories" *ngIf="!loadingSquares">
    <ion-col width-50 class="category-item" *ngFor="let category of inicial.categories">
      <img class="category-heading" [src]="category.image" (click)="openPage( category.page )">
      <h2 class="category-title">{{category.title}}</h2>
    </ion-col>
  </ion-row>

</ion-content>
