<ion-header>
  <ion-navbar>
    <ion-title>{{produto['Nome']}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="detalhes-produto-content">

  <ion-slides class="contact-slides" pager="true" autoplay="4000" loop="false">
    <ion-slide class="contact-slide">
      <background-image class="slide-image" [src]="produto['Foto']"></background-image>
    </ion-slide>
  </ion-slides><!-- imagens do produto -->

  <ion-row class="contact-details-row" wrap>
    <ion-col no-padding width-65>
      <h2 class="contact-name" *ngIf="produto['BasicCode']">{{produto['BasicCode']}}</h2>
      <h2 class="contact-name" *ngIf="!produto['BasicCode']">{{produto['Nome']}}</h2>      
    </ion-col>
  </ion-row><!-- nome do produto -->

  <div class="content" *ngIf="produto['Pontos']" >
    <h4 class="categories-title">Quantos Pontos</h4>
    <div class="points">
      <div class="points-content">
        <div class="number">{{produto['Pontos']}}</div>
        <div class="text">Pontos</div>
      </div>
    </div>  
  </div><!-- quantidade de pontos -->

  <div class="content" *ngIf="produto['Descricao']">
    <h4 class="categories-title">Descrição</h4> 
    <p>{{produto['Descricao']}}</p>   
  </div><!-- descricao do produto -->

  <div class="content" *ngIf="produto['Video']">
    <h4 class="categories-title">Vídeo</h4>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item"
              *ngIf="produto['Video']"
              [src]="produto['Video'] | clear" 
              frameborder="0" allowfullscreen></iframe>
    </div>
  </div><!-- video -->
  
</ion-content>