<ion-header>
  <ion-navbar>
    <ion-title>Questionários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-big-content">
  <div class="list-big" *ngIf="questionarios.length > 0">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of questionarios" (click)="openQuiz( item )">
        <ion-row no-padding class="content-row">
          <ion-col no-padding width-33 class="item-avatar">
            <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="item.Foto"></preload-image>
          </ion-col>
          <ion-col no-padding width-57 class="item-content">
            <h3 class="item-title">{{item.Nome}}</h3>
            <p class="item-description" rows="3">{{item.Descricao}}</p>
            <!-- You can change the rows quantity by using rows="X", where X can be any number for example: rows="4" -->
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
      <ion-infinite-scroll *ngIf="questionarios && questionarios.length > 0 && hasMore" (ionInfinite)="obterQuestionarios( $event )">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>

  <div class="dont-have-product" *ngIf="questionarios.length == 0">
    <div class="text">
      <div class="icone-wrapper">
          <ion-icon name="eye-off"></ion-icon>
      </div>
      <div class="title">
        Sem Questionários
      </div>
      <div class="content">
        <p>Não foi encontrado nenhum questionário.</p>
      </div>
    </div>
  </div><!-- sem resultados -->
</ion-content>
