page-not-working {
    .text {
        text-align: center;

        .icone-wrapper {
            font-size: 60px;
            color: #ccc;
            padding: 50px;
        }

        .title { 
            font-size: 20px;
            color: #ccc;
        }

        .content {
            color: #ccc;
            font-size: 12px;
        }
    }
}
