<ion-header>

  <ion-navbar>
    <ion-title>Pergunta número {{ index + 1 }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="responder-content">
    <div class="content">
      <p>{{ index + 1 }} - {{ pergunta['Texto'] }}</p>
    </div>

    <div class="content">
      <ion-list radio-group [(ngModel)]="selecionada">
        <ion-list-header>
          Resposta
        </ion-list-header>

        <ion-item *ngIf=" pergunta['Alternativa1']">
          <ion-label>{{ pergunta['Alternativa1'] }}</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item *ngIf=" pergunta['Alternativa2']">
          <ion-label>{{ pergunta['Alternativa2'] }}</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item *ngIf=" pergunta['Alternativa3']">
          <ion-label>{{ pergunta['Alternativa3'] }}</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item *ngIf=" pergunta['Alternativa4']">
          <ion-label>{{ pergunta['Alternativa4'] }}</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>

        <div padding>
          <button ion-button block color="primary" round [disabled]="!selecionada" (click)="responder()">{{ buttonText }}</button>        
        </div>
      </ion-list>
    </div>
</ion-content>
