<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Samsung - BrandShop
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-big-content">
  <div class="list-big" *ngIf="notificacoes.length > 0">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of notificacoes" (click)="openNotificacao( item )">
        <ion-row>
          
          <ion-col no-padding width-90 class="item-content">           
            <h3 class="item-title">{{item.Nome}}</h3>
            <ion-icon padding-left name="eye-off" class="item-title" *ngIf="item.Status == 'N'"></ion-icon>
          </ion-col>
          
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>

        </ion-row>
        <ion-row no-padding class="content-row">
          <ion-col no-padding class="item-content">
            <p class="item-description"  rows="1">{{item.Texto}}</p>
          </ion-col>
        </ion-row>        
      </button>
      <ion-infinite-scroll *ngIf="notificacoes.length > 0 && hasMore" (ionInfinite)="obterNotificacoes( $event )">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
  
  <div class="dont-have-product" *ngIf="notificacoes.length == 0">
    <div class="text">
      <div class="icone-wrapper">
          <ion-icon name="eye-off"></ion-icon>
      </div>
      <div class="title">
        Sem Notificaçōes
      </div>
      <div class="content">
        <p>Não foi encontrado nenhum notificação.</p>
      </div>
    </div>
  </div><!-- sem resultados -->

</ion-content>
