page-gabarito {
    .content {
		width: 100%;
		margin-top: 5px;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 10px;
		background: #fff;

		p {
			margin: 5px;
			padding: 10px;
			color: #616161;

			&::first-letter {
				margin-left: 10px;
			}
		}

        &.error {
            border-color: red;
            color: red;
        }

        .error {
            color: red;
        }

        .success {
            color: green;
        }

        &.success {
            color: green;
            border-color: green;
        }
	}

	.quiz-content {
		background: #f1f1f1;
	}
}
