home-page {
	background: #f9f9f9;

	.logo, .title {
		width: 100%;
		height: 100px;
		text-align: center;

		.logo-content {
			display: block;
			height: 170px;
			width: 270px;
			position: absolute;
			top: calc( 50vh - 85px );
			left: calc( 50vw - 135px );
		}

		.logo-content-samsung {
			display: inline-block;
			height: 70px;
			width: 200px;
		}

		.title-content {
			padding-top: 10px;
			font-size: 25px;
			color: #ACB3B7;
			display: inline-block;
			font-weight: bold;
		}
	}

	.button-footer {
		position: absolute;
		bottom: 0px;
		padding: 0px;

		.btn {
			text-align: center;
			padding: 15px 0px;
			font-weight: bold;

			&:first-child {
				background: #ECEEF1;
				color: #616161;
			}
			&:last-child {
				background: #415A93;
				color: #fff;
			}
		}
	}
}
