<ion-content class="signup-content auth-content">
  <h2 class="auth-title">Os dados abaixo são necessários</h2>

  <form class="signup-form auth-form" [formGroup]="dados" (ngSubmit)="salvarDados()">
    <ion-item>
      <ion-input type="number" placeholder="RG" formControlName="rg"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-input type="tel" placeholder="Celular" formControlName="celular"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input type="text" placeholder="Logradouro" formControlName="endereco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="tel" placeholder="99" formControlName="numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="tel" placeholder="Cep" formControlName="cep"></ion-input>
    </ion-item>    
    <ion-item>
      <ion-input type="text" placeholder="Complemento" formControlName="complemento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select formControlName="estado" >
        <ion-option [value]="item.CodEstado" (ionSelect)="selecionaEstado( item.CodEstado )" *ngFor="let item of estados">{{item.uf}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-select formControlName="cidade" [disabled]="cidades.length == 0">
        <ion-option [value]="" *ngIf="cidades.length == 0"></ion-option>
        <ion-option [value]="item.CodCidade" *ngFor="let item of cidades">{{item.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <div class="has-error" *ngIf="hasError">{{ hasError | errors }}</div>
    <button ion-button block class="auth-action-button signup-button" type="submit" [disabled]="!dados.valid">
      Salvar
    </button>
  </form><!-- formulario de login -->
</ion-content>
