<ion-header>
  <ion-navbar>
    <ion-title *ngIf='categoria'>{{categoria.Nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-big-content">
  <div class="list-big" *ngIf="produtos.length > 0">
    <ion-list>
      <button class="list-item" ion-item *ngFor="let item of produtos" (click)="openProduto( item )">
        <ion-row no-padding class="content-row">
          
          <ion-col no-padding width-33 class="item-avatar">
            <preload-image  *ngIf="item.Foto" class="avatar-image" [ratio]="{w:1, h:1}" [src]="item.Foto"></preload-image>
            <preload-image  *ngIf="!item.Foto" class="avatar-image" [ratio]="{w:1, h:1}" [src]="categoria.Foto"></preload-image>
          </ion-col>

          <ion-col no-padding width-57 class="item-content" *ngIf="item['Video'] || item['Descricao']">
            <div class="content-row">              
              <ion-row>
            
                <ion-col no-padding>           
                  <h3 class="item-title">{{item.Nome}}</h3>
                </ion-col>

              </ion-row>
              <ion-row no-padding *ngIf="item['Descricao']">
                <ion-col no-padding>
                  <p class="item-description" rows="3">{{item.Descricao}}</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-col><!-- se tiver video ou descricao -->

          <ion-col no-padding width-57 class="item-content"  *ngIf="!item['Video'] && !item['Descricao']">
            <div class="content-row">
              <ion-row>          
                <ion-col no-padding>           
                  <h3 class="item-title">{{item.Nome}}</h3>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col no-padding class="item-content">
                  <p class=""><b>Basic Code:</b> {{item.BasicCode}}
                    <br> <b>Pontos:</b> {{item.Pontos}}
                  </p>
                </ion-col>
              </ion-row> 
            </div>            
          </ion-col><!-- se nao tiver -->
            
          <ion-col no-padding width-10 class="item-icon" *ngIf="item['Video'] || item['Descricao']">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
      <ion-infinite-scroll *ngIf="categoria && produtos.length > 0 && hasMore" (ionInfinite)="obterProdutos( $event )">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
  
  <div class="dont-have-product" *ngIf="produtos.length == 0">
    <div class="text">
      <div class="icone-wrapper">
          <ion-icon name="eye-off"></ion-icon>
      </div>
      <div class="title">
        Sem Produtos
      </div>
      <div class="content">
        <p>Não foi encontrado nenhum produto.</p>
      </div>
    </div>
  </div><!-- sem resultados -->
</ion-content>
